<div
  class="hero min-h-screen"
  style="background-image: url(https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp);"
>
  <div class="hero-overlay"></div>
  <div class="hero-content text-gray-200 text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">App de países</h1>
      <p class="mb-5">
        Esta es una aplicación del curso de angular 2025, donde vemos ejemplos con señales rutas y conexiones a APIs 
      </p>
      <button [routerLink]="['/country']" class="btn btn-primary">Iniciar</button>
    </div>
  </div>
</div>
